{% extends "base.html" %}
{% block tittle %}Consulta de juegos{% endblock %}
{% block contenido %}
<h1>Consultar los juegos de MSX disponibles</h1>
<h3><a href="/">Página principal</a></h3>
    <form method="POST" action="/juegos ">
        <label>Nombre del Juego</label>
        <input type="text" name="nombre" placeholder="Nombre Juego" value="{{nombre_juego}}" />
        </br>
        <label>Selecciona una Categoria</label>
        <select name="categorias">

            {% for categoria in lista_categoria -%}

            {% if categoria == categorias -%}

                <option value="{{categoria}}" selected="selected">{{categoria}}</option>

            {% else -%}

                <option value="{{categoria}}">{{categoria}}</option>

                    
            {% endif -%}
            {% endfor -%}
        </select>
        <input type="submit" value="Buscar" />
        <br></br>
    </form>

    {% if lista_nombres -%}
    <h1>Consultar los juegos de MSX disponibles</h1>
    <table>
    <caption>Resultados de la busqueda</caption>
        <tr>
            <th>Nombre</th>
            <th>Desarrollador</th>
            <th>Detalles</th>
        </tr>
        <tr>
            <th>
                {% for juegos in lista_nombres -%}

                <p>{{juegos}}</p>

                {% endfor -%}
            </th>

            <th>
                {% for desarrollador in lista_desarrolladores -%}

                <p>{{desarrollador}}</p>

                {% endfor -%}
            </th>

            <th>
                {% for id in lista_ids -%}

                <a href="/juego/{{id}}">
                    <p>Detalles</p>
                </a>
                {% endfor -%}
                {% endif -%}
            </th>
        </tr>
    </table>
{% endblock %}
